@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  /*
   * Set whole application default font-size for tailwind rem-based units
   */
  font-size: 16px;

  /* Disable Android highlight */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

/* Ensure full height in top 3 root html tags */
#__next {
  @apply flex-1 flex flex-col;
}

/* common */
.title-l1 {
  @apply text-3xl text-center py-4 mt-4;
}

.title-l2 {
  @apply text-2xl text-center py-4 mt-4;
}

.btn {
  @apply text-yellow-600;
}

.text-input {
  @apply text-gray-50 bg-transparent border-gray-700 focus:outline-yellow-600 w-40 rounded-sm text-3xl;
}
/* /common */

/* datatable */
.data-table {
  @apply divide-y divide-yellow-600 w-1/2 justify-center mx-auto mt-8;
}

.data-table .data-row {
  @apply text-gray-900 dark:text-gray-100 text-center h-9 text-sm;
}
/* /datatable */

@layer components {
  /* https://tailwindui.com/components/application-ui/elements/buttons */

  /* Add here */
}

/* Intercom responsive hacks */
/* .intercom-lightweight-app-launcher.intercom-launcher {
  @apply !mb-[calc(4rem+env(safe-area-inset-bottom))] lg:!mb-0;
}
.intercom-dfosxs {
  @apply !mb-[calc(4rem+env(safe-area-inset-bottom))] lg:!mb-0;
}
.intercom-messenger-frame {
  @apply !mb-[calc(4rem+env(safe-area-inset-bottom))] lg:!mb-0;
} */
